<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdu.lhj.bstest.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.cdu.lhj.bstest.pojo.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        username,
        `password`,
        email,
        phone
    </sql>

    <select id="listUsers" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select id,
               username,
               email,
               phone
        from sys_user
        <where>
            <if test="userSearchBo.username != null and userSearchBo.username != ''">
            and username like concat('%', #{userSearchBo.username}, '%')
            </if>
            <if test="userSearchBo.phone != null and userSearchBo.phone != ''">
            and phone like concat('%', #{userSearchBo.phone}, '%')
            </if>
        </where>
    </select>

    <update id="updateUser">
        <!--@mbg.generated-->
        update sys_user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                `password` = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>